.u-section-1 .u-sheet-1 {
  min-height: 482px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 150px;
  margin-bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0px 0px 10px;
}

.u-section-1 .u-image-1 {
  max-height: 120px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: auto;
  height: 150px;
  margin: 0px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 241px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-3 {
  padding: 4px 5px;
}

.u-section-1 .u-list-1 {
  width: 100%;
  margin: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 1px 1px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 338px;
}

.u-section-1 .u-container-layout-4 {
  padding: 2px;
}

.u-section-1 .u-container-layout-5 {
  padding: 2px;
}

.u-section-1 .u-container-layout-6 {
  padding: 2px;
}

.u-section-1 .u-container-layout-7 {
  padding: 2px;
}

.u-section-1 .u-container-layout-8 {
  padding: 2px;
}

.u-section-1 .u-container-layout-9 {
  padding: 2px;
}

.u-section-1 .u-container-layout-10 {
  padding: 2px;
}

.u-section-1 .u-container-layout-11 {
  padding: 2px;
}

.u-section-1 .u-container-layout-12 {
  padding: 2px;
}

.u-section-1 .u-container-layout-13 {
  padding: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-image-1 {
    height: 113px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 199px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-1 .u-image-1 {
    height: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 86px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 144px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-1 .u-image-1 {
    height: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 134px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 217px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 66px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 65px;
}

.u-section-2 .u-container-layout-1 {
  padding: 2px 30px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 32px 10px 31px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 0 0 auto;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 36px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 136px;
  }
}